body {
  font: 10px sans-serif;
  background-color: ghostwhite;
}

h1 {
	text-align: center;
	padding-top: 2em;
	font-family: sans-serif;
}

svg {
	margin: 12em;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar:hover {
  fill: black;
}